<% layout("/layouts/boilerplate") %>

    <body>
        <form method="POST" action="/api/v1/events/update/<%= existingEvent._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
          
            <div class="row">
                <div class="col-8 offset-2">
                    <h3>Edit this Listing</h3>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="title" value="<%= existingEvent.title %>" type="text" class="form-control" required>
                        <div class="valid-feedback">
                            Title Looks good!
                          </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input name="description" value="<%= existingEvent.description %>" type="text" class="form-control" required>
                        <br>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload your new image</label>
                        <input name="image" value="<%= existingEvent.image %>" type="file" class="form-control" >
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="price" class="form-label">price</label>
                            <input name="price" value="<%= existingEvent.price %>" type="number" class="form-control" required>
                        </div>
    
                        <div class="col-6 mb-3">
                            <label for="location" class="form-label">location</label>
                            <input name="location" value="<%=existingEvent.location %>" type="text" class="form-control" required>
                        </div>
    
                    </div>

                    <button class="btn btn-danger">Edit</button>
        </form>
        </div>
        </div>
    </body>